/* Font-family */
h1,#new-game,#win-text,#lose-text{
    font-family: "Segoe Print";
}
/* Body & background image */
body{
    width: 100vw;
    height: 100vh;
    margin: 0;

    background: url("../images/background.png") no-repeat;
    background-size: auto 100% ;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* Outer div */
#outer-div{
    width: 90%;
    height: 80%;
    background-color: #FFE0AADD;
}
/* Inside of the outer div */
/* Header */
h1{
    font-size: 2.5em;
    text-align: center;
    padding: 1em 0;
    margin: 0;
}
/* gameboard */
#gameboard{
    margin: auto;
    width: 80vw;
    height: 80vw;
    max-height: 45vh;
    max-width: 45vh;

    background-color: #F9CC9C;

    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.space{
    width:25vw;
    height:25vw;
    max-height: 16vh;
    max-width: 16vh;
}
