/* Font-family */
h1,#new-game,#win-text,#lose-text,.space{
    font-family: "Segoe Print";
}
/* Body & background image */
body{
    width: 100vw;
    height: 100vh;
    margin: 0;

    background: url("../images/background.png") no-repeat;
    background-size: auto 100% ;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* Outer div */
#outer-div{
    width: 90%;
    height: 80%;
    background-color: #FFE0AADD;
}
/* Inside of the outer div */
/* Header */
h1{
    font-size: 2.5em;
    text-align: center;
    padding: 0;
    margin: 0.5em;
}
/* gameboard */
#gameboard{
    margin: auto;

    width: 80vw;
    height: 80vw;
    max-height: 45vh;
    max-width: 45vh;
    background-color: #F9CC9C;

    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.space{
    width:25vw;
    height:25vw;
    max-height: 14vh;
    max-width: 14vh;

    font-size: max(10vh);

    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
/* New game button */
#button-div{
    display: flex;
    justify-content:center;
}
#new-game{
    margin-top: 1em;
    
    box-shadow:2px 2px .8px .8px #333333;
    border:solid black 1px;

    background-color: #F9CC9C;
    font-size: large;
}
/* Wins and loses */
#stat{
    display: flex;
    justify-content: space-evenly;
}
#win-text{
    color:blue;
    font-size: x-large
}
#lose-text{
    color:red;
    font-size: x-large;
}
/* Media query for tablets and bigger */
@media only screen and (min-width: 768px){
    h1{
        font-size: 3.2em;
    }
    #new-game{
        font-size: x-large;
    }
    #win-text,#lose-text{
        font-size: xx-large;
    }
}
/* Media query for laptops and bigger */
@media only screen and (min-width: 992px){
    h1{
        font-size: 4em;
    }
    #new-game{
        font-size: xx-large;
    }
    #win-text,#lose-text{
        font-size: xxx-large;
    }
}